# Default ignored files
/../../responsive /.idea/shelf/
/../../responsive /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../responsive /.idea/httpRequests/
# Datasource local storage ignored files
/../../responsive /.idea/dataSources/
/../../responsive /.idea/dataSources.local.xml
